@model IEnumerable<Animome.Models.Note>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-controller="Suivis" asp-action="AfficherSuivi" asp-route-id="@ViewData["idPatient"]"><ion-icon name="arrow-back"></ion-icon></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texte)
            </th>
            <th>
                Auteur
            </th>
            <th>
                Domaine
            </th>
            <th>
                Compétence
            </th>
            <th>
                Prérequis
            </th>
            <th>
                Niveau
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Prenom) @Html.DisplayFor(modelItem => item.ApplicationUser.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuiviNiveau.SuiviPrerequis.SuiviCompetence.Suivi.Domaine.Intitule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuiviNiveau.SuiviPrerequis.SuiviCompetence.Competence.Intitule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuiviNiveau.SuiviPrerequis.Prerequis.Intitule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuiviNiveau.Niveau.Intitule)
            </td>

            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
