@model Animome.Models.SuiviPrerequis

@{
    ViewData["Title"] = "AfficherPrerequis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var couleurN="";
}

<h1 class="titre"> Détail Prérequis @Html.Display(Model.Prerequis.Intitule)</h1>


<div class="alignes">
    @foreach (var suiviNiveau in Model.LesSuiviNiveaux)
    {

        if (suiviNiveau.Etat == EtatEnum.e3)
        {
            couleurN = "darkgreen";
        }
        else if (suiviNiveau.Etat == EtatEnum.e2)
        {
            couleurN = "orangered";
        }
        else if (suiviNiveau.Etat == EtatEnum.e1)
        {
            couleurN = "darkgrey";
        }

    <div class="colonne">
        <div class="carteCompetence" style="border-color:@couleurN">
            <text class="texte">@Html.Display(@suiviNiveau.Niveau.Intitule)</text>

            @foreach (var suiviExercice in suiviNiveau.LesSuiviExercices)
            {

                @if (suiviExercice.Valide)
                {
                    <div class="itemExerciceNonValide">
                        <a asp-controller="SuiviExercices" asp-action="AnnulerValidation" asp-route-id="@suiviExercice.Id">@suiviExercice.Id</a>
                    </div>
                }
                else
                {
                    <div class="itemExerciceValide">
                        <a asp-controller="SuiviExercices" asp-action="Valider" asp-route-id="@suiviExercice.Id">@suiviExercice.Id</a>
                    </div>
                }
            }
            <p>
                <a asp-controller="SuiviExercices" asp-action="Create" asp-route-id="@suiviNiveau.Id">Ajouter <ion-icon name="add-circle" class="icon"></ion-icon></a>
            </p>
            <p>
                <a asp-controller="Notes" asp-action="Create" asp-route-id="@suiviNiveau.Id">Ajouter note<ion-icon name="add-circle" class="icon"></ion-icon></a>
            </p>
        </div>

        <div>
            @if (suiviNiveau.LesNotes.Count != 0)
            {
                @foreach (var n in suiviNiveau.LesNotes)
                {
                    <div>
                        @n.Date : @n.Texte
                    </div>

                }
            }
        </div>
    </div>
    }
</div>

