@model Animome.Models.SuiviPrerequis

@{
    ViewData["Title"] = "AfficherPrerequis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var couleurN="";
}

<p>
    <a asp-controller="Suivis" asp-action="AfficherSuivi" asp-route-id="@Model.SuiviCompetence.Suivi.Patient.Id" class="lien"><ion-icon name="arrow-back"></ion-icon></a>
</p>

<div class="alignes">
    <h1 class="titre" style="margin-right:3%;"> Détail Prérequis @Model.Prerequis.Intitule</h1>
    @if (@Model.Etat == EtatEnum.e3)
    {
        <a asp-controller="SuiviPrerequis" asp-action="AnnulerValidation" asp-route-id=@Model.Id><ion-icon name="close-circle" class="iconSuivi"> </ion-icon></a>
    }
    else if (@Model.Etat == EtatEnum.e2)
    {
        <a asp-controller="SuiviPrerequis" asp-action="Valider" asp-route-id=@Model.Id><ion-icon name="checkbox" class="iconSuivi"></ion-icon></a>
        <a asp-controller="SuivisPrerequis" asp-action="AnnulerValidation" asp-route-id=@Model.Id><ion-icon name="close-circle" class="iconSuivi"> </ion-icon></a>
    }
    else if (@Model.Etat == EtatEnum.e1)
    {
        <a asp-controller="SuiviPrerequis" asp-action="Valider" asp-route-id=@Model.Id><ion-icon name="checkbox" class="iconSuivi"></ion-icon></a>
    }

</div>

<div class="alignes">
    @foreach (var suiviNiveau in Model.LesSuiviNiveaux)
    {

        if (suiviNiveau.Etat == EtatEnum.e3)
        {
            couleurN = "darkgreen";
        }
        else if (suiviNiveau.Etat == EtatEnum.e2)
        {
            couleurN = "orangered";
        }
        else if (suiviNiveau.Etat == EtatEnum.e1)
        {
            couleurN = "darkgrey";
        }

        <div class="colonne">
            <div class="carteCompetence" style="border-color:@couleurN">
                <text class="texte">@suiviNiveau.Niveau.Intitule</text>
              
                <div style="margin-top:2%;">
                    @foreach (var suiviExercice in suiviNiveau.LesSuiviExercices)
                    {

                        @if (suiviExercice.Valide)
                        {
                            <a asp-controller="SuiviExercices" asp-action="AnnulerValidation" asp-route-id="@suiviExercice.Id">
                                <div class="itemExerciceValide">
                                </div>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="SuiviExercices" asp-action="Valider" asp-route-id="@suiviExercice.Id">
                                <div class="itemExerciceNonValide">
                                </div>
                            </a>
                        }
                    }
                    <p>
                        <a asp-controller="Notes" asp-action="Create" asp-route-id="@suiviNiveau.Id">Ajouter note<ion-icon name="add-circle" class="icon"></ion-icon></a>
                    </p>
                </div>
            </div>

            <div>
                @if (suiviNiveau.LesNotes.Count != 0)
                {
                    @foreach (var n in suiviNiveau.LesNotes)
                    {
                        <div>
                            @n.Date : @n.Texte
                        </div>

                    }
                }
            </div>
        </div>
    }
</div>

