@model IEnumerable<Animome.Models.Suivi>

@{
    ViewData["Title"] = "AfficherSuivi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-controller="Patients" asp-action="Index" class="lien"><ion-icon name="arrow-back" class="grosIcon"></ion-icon></a>
</p>
<h1 class="titre">Les suivis</h1>
<table class="table" style="background-color:none">
<thead>
    <tr>
        <th>
            Domaine
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr class="afficherSuivi">
            <td>
                <a asp-controller="Suivis" asp-action="Valider" asp-route-id="@item.Id" class="lien"> <ion-icon name="checkbox" class="icon" style=" "></ion-icon></a>
                <a asp-controller="Suivis" asp-action="AnnulerValidation" asp-route-id="@item.Id" class="lien"> <ion-icon name="close-circle" class="icon" style=" "></ion-icon></a>
                <a asp-controller="Commentaires" asp-action="Index" asp-route-id="@item.Id" class="lien">Voir commentaires</a>
                <div class="alignes">
                    <text class="texte">@Html.DisplayFor(modelItem => item.Domaine.Intitule) </text>
                    <text> @ViewData["pourcentages"] %</text>
                </div>
            </td>
            <td>
                <div class="alignes">
                    @foreach (var suiviCompetence in item.LesSuiviCompetences)
                    {

                        
//--------------------------------- COMPETENCE VIDE ---------------------------------------------------

                        @if (suiviCompetence.Etat == EtatEnum.e1)
                        {                                  
                        <div class="carteCompetenceNonValide">
                            <div class="colonne">
                                <div>
                                    <a asp-controller="SuiviCompetences" asp-action="Valider" asp-route-id="@suiviCompetence.Id" class="lien"> <ion-icon name="checkbox" class="icon" style=" "></ion-icon> </a>
                                    <a asp-controller="SuiviCompetences" asp-action="AnnulerValidation" asp-route-id="@suiviCompetence.Id" class="lien"> <ion-icon name="close-circle" class="icon" style=" "></ion-icon></a>
                                </div>
                                    <text class="texte">@Html.DisplayFor(modelItem => suiviCompetence.Competence.Intitule) : 20 %</text>
                            </div>

                            <div class="alignes">
                                @foreach (var suiviPrerequis in suiviCompetence.LesSuiviPrerequis)
                                {
                                    @if (suiviPrerequis.Etat == EtatEnum.e3)
                                    {
                                        <div class="column">
                                            <a asp-controller="SuiviPrerequis" asp-action="AnnulerValidation" asp-route-id="@suiviPrerequis.Id" class="lien"><ion-icon name="close-circle" class="petitIcon" style=" "></ion-icon> </a>
                                            <div class="itemPrerequisValide">
                                                <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviPrerequis.Id" class="lien">E</a>
                                            </div>
                                        </div>


                                    }
                                    else if (suiviPrerequis.Etat == EtatEnum.e1)
                                    {
                                        <div class="colonne">
                                            <a asp-controller="SuiviPrerequis" asp-action="Valider" asp-route-id="@suiviPrerequis.Id" class="lien"> <ion-icon name="checkbox" class="petitIcon" style=" "></ion-icon> </a>
                                            <div class="itemPrerequisNonValide">
                                                <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviPrerequis.Id" class="lien">E</a>
                                            </div>
                                        </div>

                                    }
                                    else if (suiviPrerequis.Etat == EtatEnum.e2)
                                    {
                                    <div class=colonne>
                                        <div class="alignes">
                                            <a asp-controller="SuiviPrerequis" asp-action="Valider" asp-route-id="@suiviPrerequis.Id" class="lien"> <ion-icon name="checkbox" class="petitIcon" style=" "></ion-icon> </a>
                                            <a asp-controller="SuiviPrerequis" asp-action="AnnulerValidation" asp-route-id="@suiviPrerequis.Id" class="lien"><ion-icon name="close-circle" class="petitIcon" style=" "></ion-icon> </a>
                                        </div>
                                        <div class="itemPrerequisEnCours">
                                            <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviPrerequis.Id" class="lien">E</a>
                                        </div>
                                    </div>


                                    }

                                }
                            </div>
                        </div>
                        }

//--------------------------------- COMPETENCE EN COURS --------------------------------------------------

                        @if (suiviCompetence.Etat == EtatEnum.e2)
                        {
                        <div class="carteCompetenceEnCours">

                            <div class="colonne">
                                <div>
                                    <a asp-controller="SuiviCompetences" asp-action="Valider" asp-route-id="@suiviCompetence.Id" class="lien"> <ion-icon name="checkbox" class="icon" style=" "></ion-icon> </a>
                                    <a asp-controller="SuiviCompetences" asp-action="AnnulerValidation" asp-route-id="@suiviCompetence.Id" class="lien"> <ion-icon name="close-circle" class="icon" style=" "></ion-icon></a>
                                </div>
                                <text class="texte">@Html.DisplayFor(modelItem => suiviCompetence.Competence.Intitule) : 20 %</text>
                            </div>

                            <div class="alignes">
                                @foreach (var suiviPrerequis in suiviCompetence.LesSuiviPrerequis)
                                {
                                    @if (suiviPrerequis.Etat == EtatEnum.e3)
                                    {
                                        <div class="colonne">
                                            <a asp-controller="SuiviPrerequis" asp-action="AnnulerValidation" asp-route-id="@suiviPrerequis.Id" class="lien"><ion-icon name="close-circle" class="petitIcon" style=" "></ion-icon> </a>
                                            <div class="itemPrerequisValide">
                                                <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviPrerequis.Id" class="lien">E</a>
                                            </div>
                                        </div>


                                    }
                                    else if (suiviPrerequis.Etat == EtatEnum.e1)
                                    {
                                        <div class="colonne">
                                            <a asp-controller="SuiviPrerequis" asp-action="Valider" asp-route-id="@suiviPrerequis.Id" class="lien"> <ion-icon name="checkbox" class="petitIcon" style=" "></ion-icon> </a>
                                            <div class="itemPrerequisNonValide">
                                                <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviPrerequis.Id" class="lien">E</a>
                                            </div>
                                        </div>

                                    }
                                    else if (suiviPrerequis.Etat == EtatEnum.e2)
                                    {
                                        <div class="colonne">
                                            <div class="alignes">
                                                <a asp-controller="SuiviPrerequis" asp-action="Valider" asp-route-id="@suiviPrerequis.Id" class="lien"> <ion-icon name="checkbox" class="petitIcon" style=" "></ion-icon> </a>
                                                <a asp-controller="SuiviPrerequis" asp-action="AnnulerValidation" asp-route-id="@suiviPrerequis.Id" class="lien"><ion-icon name="close-circle" class="petitIcon" style=" "></ion-icon> </a>
                                            </div>
                                                <div class="itemPrerequisEnCours">
                                                <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviPrerequis.Id" class="lien">E</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            </div>
                            }


//--------------------------------- COMPETENCE VALIDEE ---------------------------------------------------

                            @if (suiviCompetence.Etat == EtatEnum.e3)
                            {
                            <div class="carteCompetenceValide">
                                <div class="colonne">
                                    <div>
                                        <a asp-controller="SuiviCompetences" asp-action="Valider" asp-route-id="@suiviCompetence.Id" class="lien"> <ion-icon name="checkbox" class="icon" style=" "></ion-icon> </a>
                                        <a asp-controller="SuiviCompetences" asp-action="AnnulerValidation" asp-route-id="@suiviCompetence.Id" class="lien"> <ion-icon name="close-circle" class="icon" style=" "></ion-icon></a>
                                    </div>
                                    <text class="texte">@Html.DisplayFor(modelItem => suiviCompetence.Competence.Intitule) : 20 %</text>
                                </div>
                                       
                                <div class="alignes">
                                    @foreach (var suiviPrerequis in suiviCompetence.LesSuiviPrerequis)
                                    {
                                        @if (suiviPrerequis.Etat == EtatEnum.e3)
                                        {
                                            <div class="colonne">
                                                <a asp-controller="SuiviPrerequis" asp-action="AnnulerValidation" asp-route-id="@suiviPrerequis.Id" class="lien"><ion-icon name="close-circle" class="petitIcon" style=" "></ion-icon> </a>
                                                <div class="itemPrerequisValide">
                                                    <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviPrerequis.Id" class="lien">E</a>
                                                </div>
                                            </div>


                                        }
                                        else if (suiviPrerequis.Etat == EtatEnum.e1)
                                        {
                                        <div class="colonne">
                                            <a asp-controller="SuiviPrerequis" asp-action="Valider" asp-route-id="@suiviPrerequis.Id" class="lien"> <ion-icon name="checkbox" class="petitIcon" style=" "></ion-icon> </a>
                                            <div class="itemPrerequisNonValide">
                                                <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviPrerequis.Id" class="lien">E</a>
                                            </div>
                                        </div>

                                        }
                                        else if (suiviPrerequis.Etat == EtatEnum.e2)
                                        {
                                        <div class="colonne">
                                            <div>
                                                <a asp-controller="SuiviPrerequis" asp-action="Valider" asp-route-id="@suiviPrerequis.Id" class="lien"> <ion-icon name="checkbox" class="petitIcon" style=" "></ion-icon> </a>
                                                <a asp-controller="SuiviPrerequis" asp-action="AnnulerValidation" asp-route-id="@suiviPrerequis.Id" class="lien"><ion-icon name="close-circle" class="petitIcon" style=" "></ion-icon> </a>
                                            </div>
                                            <div class="itemPrerequisEnCours">
                                                <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviPrerequis.Id" class="lien">E</a>
                                            </div>
                                        </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </td>
        </tr>
    }
</tbody>
</table>
