@model IEnumerable<Animome.Models.Suivi>

@{
    ViewData["Title"] = "AfficherSuivi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Animome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>AfficherSuivi</h1>

    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <text class="texte">@Html.DisplayFor(modelItem => item.Domaine)</text>
                        <div class="alignes">
                            @foreach (var suiviCompetence in item.LesSuiviCompetences)
                            {
                            <div class="carteCompetence">
                                <text class="texte">@Html.DisplayFor(modelItem => suiviCompetence.Id) @Html.DisplayFor(modelItem => suiviCompetence.Competence): 20 %</text>
                                <a asp-controller="SuiviCompetences" asp-action="Delete" asp-route-id="@suiviCompetence.Id">Supprimer </a>
                                <div class="alignes">
                                    @foreach (var suiviPrerequis in suiviCompetence.LesSuiviPrerequis)
                                    {
                                    <div class="itemPrerequis">
                                        <a asp-controller="SuiviPrerequis" asp-action="AfficherPrerequis" asp-route-id="@suiviCompetence.Id">@suiviPrerequis.Id </a>
                                    </div>
                                    }
                                </div>
                            </div>

                            }
                        </div>
                        <p>
                            <a asp-controller="SuiviCompetences" asp-action="AjouterCompetence" asp-route-id="@item.Id">+ compétence </a>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
