@model Animome.ViewModels.SuiviCreateViewModel
@{
    ViewData["Title"] = "AjouterCompetence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AjouterCompetence</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AjouterCompetence">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Suivi.Id" />

            <div class="form-group">
                <label asp-for="@Model.SuiviCompetence.Competence" class="control-label"></label>
                <select asp-for="@Model.SuiviCompetence.Competence" class="form-control" asp-items="Html.GetEnumSelectList<CompetenceEnum>()"></select>
                <span asp-validation-for="@Model.SuiviCompetence.Competence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AfficherSuivi" asp-route-id="@ViewData["idPatient"]">Back to List</a>
</div>
