@model Animome.ViewModels.SuiviCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Suivi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Patient identifiant *@
            <div class="form-group">
                <label asp-for="@Model.Patient.Id" class="control-label"></label>
                <input asp-for="@Model.Patient.Id" value="@ViewData["idPatient"] "class="form-control" type="hidden" />
                <span asp-validation-for="@Model.Patient.Id" class="text-danger"></span>
            </div>

            @* Domaine *@
            <div class="form-group">
                <label asp-for="@Model.Suivi.Domaine" class="control-label"></label>
                <select asp-for="@Model.Suivi.Domaine" class="form-control" asp-items="Html.GetEnumSelectList<Domaine>()"></select>
                <span asp-validation-for="@Model.Suivi.Domaine" class="text-danger"></span>
            </div>


            @* competenceS a travailler (checkbox a mettre) *@
            <div class="form-group">
                <label asp-for="@Model.SuiviCompetence.Competence" class="control-label"></label>
                <select asp-for="@Model.SuiviCompetence.Competence" class="form-control" asp-items="Html.GetEnumSelectList<CompetenceEnum>()"></select>
                <span asp-validation-for="@Model.SuiviCompetence.Competence" class="text-danger"></span>
            </div>

            @* prerequis a travailler dependantes des competences (checkbox a mettre) *@
            <div class="form-group">
                <label asp-for="@Model.SuiviPrerequis.Prerequis" class="control-label"></label>
                <select asp-for="@Model.SuiviPrerequis.Prerequis" class="form-control" asp-items="Html.GetEnumSelectList<PrerequisEnum>()"></select>
                <span asp-validation-for="@Model.SuiviPrerequis.Prerequis" class="text-danger"></span>
            </div>

            @* niveaux automatiques *@
            <div class="form-group">
                <label asp-for="@Model.SuiviNiveau.Niveau" class="control-label"></label>
                <select asp-for="@Model.SuiviNiveau.Niveau" class="form-control" asp-items="Html.GetEnumSelectList<NiveauEnum>()"></select>
                <span asp-validation-for="@Model.SuiviNiveau.Niveau" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.SuiviExercice.Exercice" class="control-label"></label>
                <select asp-for="@Model.SuiviExercice.Exercice" class="form-control" asp-items="Html.GetEnumSelectList<ExerciceEnum>()"></select>
                <span asp-validation-for="@Model.SuiviExercice.Exercice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

