@model Animome.ViewModels.PatientIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Animome</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
<h1 class="titre">Patients</h1>
<p>
    <a asp-action="Create" class="lien">Ajouter <ion-icon name="add-circle" class="icon"></ion-icon></a>
</p>
<form asp-controller="Patients" asp-action="Index" method="get">
    <div class="barreRecherche">
        <input class="input" type="text" asp-for="RecherchePatient" /><button class="boutonRecherche"><i class="fas fa-search" type="submit" style="font-size:20px;color:lightgrey"></i></button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Numero)
            </th>
            <th>
                Suiveurs
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Patients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @foreach (var s in Model.LesSuiveurs)
                    {
                        if (item.Id == s.Key)@Html.Display(s.Value.Nom) @Html.Display(s.Value.Prenom)
                    }
                </td>
                <td>
                    <a asp-controller="Suivis" asp-action="Create" asp-route-id="@item.Id" class="boutonParametres lien">Générer suivi</a>
                    <a asp-controller="Suivis" asp-action="AfficherSuivi" asp-route-id="@item.Id" class="boutonParametres lien">Afficher graphes</a>
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="trash-outline" class="icon"></ion-icon></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>

