@model Animome.ViewModels.PatientIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Animome</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

<h1 class="titre">Patients</h1>
<p>
    <a asp-action="Create">Créer</a>
</p>

<form asp-controller="Patients" asp-action="Index" method="get">
    <div class="barreRecherche">
        <input class="input" type="text" asp-for="RecherchePatient" /><button class="boutonRecherche"><i class="fas fa-search" type="submit" style="font-size:20px;color:lightgrey"></i></button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Identifiant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Patients)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identifiant)
            </td>
            <td>
                <a asp-controller="Suivis" asp-action="Index" asp-route-id="@item.Id">Voir tous les suivis</a> |
            </td>
            <td>
                <a asp-controller="Suivis" asp-action="AfficherSuivi" asp-route-id="@item.Id">Afficher graphes</a> |
            </td>

            <td>
                <a asp-controller="Suivis" asp-action="Create" asp-route-id="@item.Id">Générer suivi</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
