@model Animome.ViewModels.PatientIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titre">Patients</h1>
<div class="alignes">
    <a asp-action="Create" class="lien alinea">Ajouter <ion-icon name="add-circle" class="icon"></ion-icon></a>
    <div style="margin-left :100px;">
        <form asp-controller="Patients" asp-action="Index" method="get">
            <div class="barreRecherche">
                <input class="input" type="text" asp-for="RecherchePatient" /><button class="boutonRecherche"><i class="fas fa-search" type="submit" style="font-size:20px;color:lightgrey"></i></button>
            </div>
        </form>
    </div>
</div>

<table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Numero)
            </th>
            <th>
                Equipe thérapeutique
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Patients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    <a asp-controller="PatientUsers" asp-action="Index" asp-route-id="@item.Id" class="boutonParametres lien">voir membres équipe </a>
                </td>
                <td>
                    @if ((item.LesSuivis.Count) == 0)
                    {
                        <a asp-controller="Suivis" asp-action="Create" asp-route-id="@item.Id" class="boutonParametres lien">Créer suivis</a>
                    }
                    else
                    {
                    <a asp-controller="Suivis" asp-action="AfficherApercu" asp-route-id="@item.Id" class="boutonParametres lien">Voir les suivis</a>
                    }
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="trash-outline" class="icon"></ion-icon></a>
                </td>
            </tr>
        }
    </tbody>
</table>

