@model Animome.Models.ApplicationUser

@{
    ViewData["Title"] = "AfficherProfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titre">Profil</h1>
<dl style="text-indent:15px;">
    <dt>
        @Html.DisplayNameFor(Model => Model.Prenom)
        @Html.DisplayNameFor(Model => Model.Nom)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Prenom)
        @Html.DisplayFor(Model => Model.Nom)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Email)
    </dd>
    <dt>
        @Html.DisplayName("Domaines d'expertise")
    </dt>
    <dd>
        @foreach (var d in Model.LesDomaines)
        {
            <div class="colonne">
            @Html.DisplayFor(Model => d.Domaine.Intitule)
            </div>
        }
    </dd>
</dl>

<a asp-action="EditProfil" class="lien">
    <div class="boutonParametres" style="margin-top:50px;">
        Modifier informations  <i class="fas fa-pencil-alt icon"></i>
    </div>   
</a> 