@model IEnumerable<Animome.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Animome</title>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<h2>Collaborateurs</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nom Prénom
            </th>
            <th>
                Adresse Mail
            <th>
                Domaines d'expertise
            </th>
            <th>
                Statut
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom) @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @foreach (var domaineUser in item.LesDomaines)
                    {
                    <div>
                        @Html.DisplayFor(modelItem => domaineUser.Domaine.Intitule) 
                    </div>
                    }
                </td>
                <td>
                    @*@if (item.Role == "EnAttente") //A changer !!!!
                    {

                        <ion-icon name="checkbox" style="color:darkgreen"></ion-icon>
                        <a asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="close-circle" style="color:darkred"></ion-icon></a>
                    }
                    else
                    {
                        <ion-icon name="checkbox" style="color:darkgreen"></ion-icon>
                    }*@
                </td>
                @*@if (item.Role != "EnAttente")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><ion-icon name="trash-outline"></ion-icon></a>
                    </td>
                }*@

            </tr>
        }

    </tbody>
</table>
</body>
</html>
